<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="--background: none"></ion-menu-button>
    </ion-buttons>
    <ion-title>Living Fitness</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="card">
      <img src="./assets/icon/BicepsWorkout1Pt1.png" alt="" />
      <h3 class="step">Lay flat and grab the weight</h3>
      <div class="time">
        <p>{{ time }} seconds remaining</p>
      </div>
    </div>
  </div>
</ion-content>
