<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="--background: none"></ion-menu-button>
    </ion-buttons>
    <ion-title>Living Fitness</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="card">
      <img src="./assets/icon/BicepsWorkout1Pt1.png" alt="" />
      <h3 class="step">{{ text }}</h3>
      <ion-button
        (click)="onStart()"
        *ngIf="!started"
        expand="block"
        fill="clear"
        shape="round"
      >
        Start
      </ion-button>
      <div class="time" *ngIf="!paused && started">
        <p>{{ maxTime }} seconds remaining</p>
      </div>
      <ion-button
        (click)="onPause()"
        expand="block"
        *ngIf="!paused && started"
        fill="clear"
        shape="round"
      >
        Pause
      </ion-button>
      <ion-button
        (click)="onUnPause()"
        expand="block"
        *ngIf="paused"
        fill="clear"
        shape="round"
      >
        Unpause
      </ion-button>
    </div>
  </div>
</ion-content>
