<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button class="menuButton"> </ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: 700">Living Fitness</ion-title>
    <ion-icon slot="end" src="./assets/icon/icon.png"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="card">
      <div class="cardInfo">
        <h3 class="cardHeader">Hi {{ name }},</h3>
        <br />
        <p class="cardDesc">
          Scroll down to look at your workout schedule today
        </p>
      </div>
      <div class="cardIcon">
        <img src="./assets/icon/HiIcon.png" alt="" />
      </div>
    </div>

    <h3 class="sectionHeader">Schedule</h3>

    <div class="card cardTraining" *ngFor="let page of trainingPages">
      <div class="cardIcon cardIconTraining">
        <img [src]="page.iconPath" alt="" />
      </div>
      <div class="cardInfo cardInfoTraining">
        <h3>{{ page.name }}</h3>
        <ion-button
          expand="block"
          fill="clear"
          shape="round"
          [routerLink]="page.pageUrl"
        >
          Start
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
